<div class="page-header">
  <div class="header-title">
    <h1>{{ title }}</h1>
    <p *ngIf="subtitle" class="subtitle">{{ subtitle }}</p>
  </div>
  <div class="header-actions">
    <ng-container *ngFor="let action of actions">

      <!-- Basic button -->
      <button mat-stroked-button [disabled]="action.disabled" (click)="onActionClick(action.callback)">
        <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
        <span>{{ action.label }}</span>
      </button>

    </ng-container>
  </div>
</div>