<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="d-flex justify-content-between">
        <mat-panel-title class="">
            Overview
        </mat-panel-title>
        <mat-panel-description class="w-100 d-flex flex-row-reverse align-items-center">
            <p class="m-0">Completed</p>
            <i class="bi bi-dot fs-2 dot"></i>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div class="content w-100 d-flex flex-row justify-content-between">
            <div class="part w-100">
                <h6 class="text">WO Type</h6>
                <p class="text fw-bold">Maintenance</p>
            </div>
            <div class="part w-100">
                <h6 class="text">Location</h6>
                <p class="text">15, King Folan, Andalus district, Qarya al Ulya</p>
            </div>
            <div class="part w-100">
                <h6 class="text">Value</h6>
                <p class="text">370,000 SAR</p>
            </div>
            <div class="part w-100">
                <h6 class="text">Completion</h6>
                <p class="text">100 %</p>
            </div>
            <div class="part-last w-100 text-center">
                <h6 class="text">Client</h6>
                <p class="text">SEC</p>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>