<div class="permits-checklist-dialog-container">
  <h2 mat-dialog-title>Edit Required Permits</h2>
  <mat-dialog-content>
    <form class="permits-form">
      <div *ngFor="let permit of permitTypes" class="permit-row">
        <mat-checkbox [(ngModel)]="checklist[permit.type]" [name]="permit.type">
          {{ permit.label }}
        </mat-checkbox>
        <mat-icon class="status-icon" [ngClass]="{approved: checklist[permit.type], pending: !checklist[permit.type]}">
          {{ getIcon(checklist[permit.type]) }}
        </mat-icon>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </mat-dialog-actions>
</div> 